name: Scheduled GET Request

on:
  schedule:
    # 对应北京时间 07:00 - 23:59，每30分钟执行一次
    # GitHub 使用 UTC 时间，所以配置为 UTC 23:00 - 15:59
    - cron: '*/5 0-15,23 * * *'
  # 允许手动点击按钮触发，方便测试
  workflow_dispatch:

jobs:
  make_request:
    runs-on: ubuntu-latest
    steps:
      - name: Send GET request with Secret
        env:
          # 从仓库密钥中读取 API_TOKEN，赋值给环境变量 MY_SECRET
          MY_SECRET: ${{ secrets.API_SECRET }}
        run: |
          # 发送请求，-v 会显示详细日志，便于调试
          # 请将下面的 URL 替换为你真实的地址
          curl -X GET "https://swjtu-score-monitor.vercel.app/?secret=2233"
